:export {
  primary: #BF4040;
  secondary: #1F4F7F
}

:local(.app-handler) {
  //display: flex;
  //min-height: 100vh;
  //flex-direction: column;
}

.appHandler {
  background-color: #ffffff;
  font-family: 'CircularStd';
}
